**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/*.yaml
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.idea
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/Dockerfile
**/Dockerfile*
**/azds.yaml
**/bin
**/build*.sh
**/charts
**/docker-compose*
**/global-packages
**/logs
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
LICENSE
README.md
